/* Global styles */
*,
*::after,
*::before {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Backgrounds */
  --main-bg-color: #fafaf9;
  --sidebar-bg-color: #f5f5f4;
  --header-bg-color: #44403c;

  /* Font*/
  --light-font-color: #57534e;
  --med-font-size: 1rem;
  /* Shadows */
  --light-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

  /* Buttons */
  --button-font-size: 1rem;
  --button-background: none;
  --button-border: none;
  --button-Margin: 0;
  --button-padding: 0;
  --button-cursor: pointer;
  --round-button-radius: 25px;
  --button-transition: 0.3s;
  --button-opacity-def: 0.6;
  --button-opacity-hover: 1;
}

html,
body {
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

/* Page structure */
#grid-wrapper {
  display: grid;
  grid-template-columns: minmax(220px, 1.5fr) 10fr;
  grid-template-rows: 1fr 15fr;
  min-height: 100vh;
  min-width: 100vw;
}

/* header */
.main-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--header-bg-color);
  grid-area: 1 / 1 / 2 / 3;
}

.logo-img {
  margin: 1rem 1rem 1rem 2rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Projects */
.project-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.project-card {
  min-height: 20vh;
  width: 50vw;
  margin: 2rem;
}

.project-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(90%, 800px);
  border-bottom: solid 0.5px #44403c;
  padding: 1rem;
}
.add-task-container {
  min-width: 50%;
}
.add-task-button {
  background-color: #a8a29e;
  padding: 0.5rem;
  margin-right: 10px;
  font-size: var(--button-font-size);
  border-radius: var(--round-button-radius);
  border: var(--button-border);
  cursor: var(--button-cursor);
  opacity: var(--button-opacity-def);
  transition: var(--button-transition);
}

.delete-project-button {
  background-color: #e7e5e4;
  padding: 0.5rem;
  font-size: var(--button-font-size);
  border-radius: var(--round-button-radius);
  border: var(--button-border);
  margin: var(--button-Margin);
  cursor: var(--button-cursor);
  opacity: var(--button-opacity-def);
  transition: var(--button-transition);
}

.add-task-button:hover,
.delete-project-button:hover {
  opacity: var(--button-opacity-hover);
}

/* Side bar  */
.side-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--sidebar-bg-color);
  box-shadow: var(--light-shadow);
  grid-area: 2 / 1 / 3 / 2;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 3rem 0.5rem;
  padding: 1rem;
  border-top: solid 0.5px #44403c;
}

.add-project-container,
.project-tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: min(10%, 30px);
  border-radius: 7px;
  margin: 1rem 0rem 0.5rem 0rem;
}

.add-project-container:hover,
.project-tab-button:hover {
  background-color: rgba(214, 211, 209, 0.5);
  transition: 0.3s;
}

.add-project-button,
.project-tab-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 7px;
  width: 90%;
  text-align: left;
  font-size: var(--med-font-size);
  color: var(--light-font-color);
  background: var(--button-background);
  border: var(--button-border);
  margin: var(--button-Margin);
  cursor: var(--button-cursor);
}

.project-tab-button {
  margin-top: 1rem;
}

.add-project-modal {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem 0rem 0rem;
  gap: 0.5rem;
  width: 100%;
}

.project-input-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cancel-project-input {
  width: 30%;
  background-color: #e7e5e4;
}

.project-submit {
  width: 20%;
  background-color: #a8a29e;
}

.project-submit,
.cancel-project-input {
  padding: 0.5rem;
  margin: 10px 0px 0px 0px;
  border-radius: 25px;
  font-size: var(--button-font-size);
  border: var(--button-border);
  cursor: var(--button-cursor);
  opacity: var(--button-opacity-def);
  transition: var(--button-transition);
}

.project-submit:hover,
.cancel-project-input:hover {
  opacity: 1;
}

.cancel-project-input {
  width: 30%;
  background-color: #e7e5e4;
}

.add-project-input {
  border: 0.5px solid #d6d3d1;
  border-radius: 7px;
  width: 70%;
  min-height: 30%;
  padding-left: 5px;
}

/* Tasks */
.task-container {
  display: flex;
  justify-content: center;
}

#task-form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: min(75%, 300px);
  min-width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #a8a29e;
  border-radius: 7px;
}

.edit-task-form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: min(50%, 600px);
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #a8a29e;
  border-radius: 7px;
}

#title-input,
#desc-input,
#date-input,
#priority-input {
  border: 0.5px solid #d6d3d1;
  border-radius: 7px;
  width: 70%;
  min-height: 30%;
  padding: 5px;
}

.updated-task-title,
.updated-task-desc {
  border: 0.5px solid #d6d3d1;
  border-radius: 7px;
  width: 70%;
  min-height: 30%;
  padding: 5px;
}

.submit-task-button {
  width: 40%;
  background-color: #a8a29e;
  padding: 0.5rem;
  margin: 10px;

  font-size: var(--button-font-size);
  border-radius: var(--round-button-radius);
  border: var(--button-border);
  cursor: var(--button-cursor);
  opacity: var(--button-opacity-def);
  transition: var(--button-transition);
}

.submit-task-button:hover {
  opacity: 1;
}

/* Task Card */
.task-card {
  display: flex;
  flex-direction: column;
  align-content: ;
  box-shadow: var(--light-shadow);
  gap: 0.7rem;
  width: min(70%, 600px);
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid #a8a29e;
  border-radius: 7px;
}

.task-card-title {
  font-size: 1.5rem;
}

.task-card-desc,
.task-card-date,
.task-card-priority {
  color: var(--light-font-color);
}

.task-card-title {
  margin-bottom: 0.5rem;
}

.edit-task-button {
  background-color: #a8a29e;
  width: min(20%, 60px);
  padding: 0.5rem;
  border-radius: 25px;
  font-size: var(--button-font-size);
  border: var(--button-border);
  cursor: var(--button-cursor);
  opacity: var(--button-opacity-def);
  transition: var(--button-transition);
}

.edit-task-button:hover {
  opacity: 1;
}

.delete-task-button:hover {
  color: #b91c1c;
}

.delete-task-button {
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--light-font-color);
  background: var(--button-background);
  border: var(--button-border);
  margin: var(--button-Margin);
  cursor: var(--button-cursor);
}

.task-card-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: center;
  gap: 1rem;
}

/* Edit Task Form */
.edit-task-buttons {
  margin-top: 1rem;
}

.save-updates,
.cancel-edit-button {
  background-color: #a8a29e;
  width: min(30%, 60px);
  padding: 0.5rem;
  border-radius: 25px;
  font-size: var(--button-font-size);
  border: var(--button-border);
  cursor: var(--button-cursor);
  opacity: var(--button-opacity-def);
  transition: var(--button-transition);
}

.cancel-edit-button {
  background-color: #e7e5e4;
  width: 35%;
}
.save-updates:hover,
.cancel-edit-button:hover {
  opacity: 1;
}

/* New Task Modal */
#task-modal,
#project-modal {
  padding: 2rem;
  margin: auto;
  border: none;
  border-radius: 7px;
}

#date-input {
  border: 0.5px solid #d6d3d1;
  border-radius: 7px;
  width: 70%;
  min-height: 30%;
  padding: 5px;
}

/* Task card */
.task-card {
  border: 0.5px solid #d6d3d1;
  margin: 1rem;
}

/* Toggle elements */
.hide {
  display: none;
}

.show {
  display: block;
}
