/* Global styles */
*,
*::after,
*::before {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Backgrounds */
  --main-bg-color: #fafaf9;
  --sidebar-bg-color: #f5f5f4;
  --header-bg-color: #44403c;

  /* Font*/
  --light-font-color: #57534e;
  --med-font-size: 1rem;
  /* Shadows */
  --light-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  /* Buttons */
  --button-background: none;
  --button-border: none;
  --button-Margin: 0;
  --button-padding: 0;
  --button-cursor: pointer;
}

html,
body {
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

/* Page structure */
#grid-wrapper {
  display: grid;
  /* use calc here? */
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 15fr;
  /* border: solid 3px purple; */
  min-height: 100vh;
  min-width: 100vw;
}

.main-header {
  border: orange solid 1px;
  background-color: var(--header-bg-color);
  grid-area: 1 / 1 / 2 / 3;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* border: solid green 2px; */
}

/* Projects */
.project-title {
  margin-bottom: 10px;
}
.add-project-modal {
  border: 1px goldenrod solid;
}

.project-card {
  border: solid red 1px;
  min-height: 20vh;
  width: 50vw;
  margin: 2rem;
}

.project-view-container {
  margin: 1rem;
}

.add-task-button {
  background-color: #a8a29e;
  padding: 0.3rem;
  margin-right: 10px;
  border-radius: 7px;
  border: var(--button-border);
  /* margin: var(--button-Margin); */
  cursor: var(--button-cursor);
}

.delete-project-button {
  background-color: #e7e5e4;
  padding: 0.3rem;
  border-radius: 7px;
  border: var(--button-border);
  margin: var(--button-Margin);
  cursor: var(--button-cursor);
}
/* Side bar  */
.side-bar {
  max-width: max(400px, 30%);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--sidebar-bg-color);
  box-shadow: var(--light-shadow);
  grid-area: 2 / 1 / 3 / 2;

  /* border: solid blue 1px; */
}

.add-project-container,
.project-tab-container {
  display: flex;
  align-items: center;
  width: 70%;
  height: min(10%, 30px);
  border-radius: 7px;
  margin: 0.5rem;
}

.add-project-container:hover,
.project-tab-button:hover {
  background-color: rgba(214, 211, 209, 0.5);
  transition: 0.3s;
}

.add-project-button,
.project-tab-button {
  padding: 0.5rem;
  width: 100%;
  text-align: left;
  font-size: var(--med-font-size);
  color: var(--light-font-color);
  background: var(--button-background);
  border: var(--button-border);
  margin: var(--button-Margin);
  cursor: var(--button-cursor);
}

/* New Task Modal */
#task-modal,
#project-modal {
  padding: 2rem;
  margin: auto;
  border: none;
  border-radius: 7px;
}
.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

/* Edit Task Modal */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms;
  border: 1px solid gray;
  border-radius: 15px;
  min-height: 40vh;
  width: 20vw;
  z-index: 10;
  background-color: #d6d3d1;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Task card */
.task-card {
  border: 1px forestgreen solid;
}

/* Toggle elements */
.hide {
  display: none;
}

.show {
  display: block;
}
